body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", "DejaVu Sans", "Verdana", "sans-serif";
  font-size: 11pt;
  line-height: 1.4em;
  text-align: center;
}

a:link {
  color: #0044b3;
  text-decoration: none;
}
a:visited {
  color: #551a8b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

code {
  font-family: "Monaco", "DejaVu Sans Mono", "Courier New", "monospace";
  font-size: 10pt;
}

pre {
  border: 1px solid #a0a0a0;
  padding: 0.6em;
}

pre.license {
  border: 0px;
  line-height: 1.1em;
}

.home {
  font-size: 1.6em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #808080;
}

h2 {
  font-size: 1.3em;
  margin: 1.5em 0.5em 0 0;
  padding: 0 0 0.4em 0;
  border-bottom: 1px solid #a0a0a0;
}

p {
  margin: 1.6em 0 0 1em;
}

p.faqq {
  text-indent: -1.5em;
  padding-left: 1.5em;
}

p.faqa {
  margin: 0.8em 0 0 1em;
  text-indent: -1.5em;
  padding-left: 1.5em;
  padding-bottom: 1.3em;
  border-bottom: 1px solid #a0a0a0;
}

ul {
  margin-top: 0.4em;
  list-style-type: square;
}

li.major {
  border: 1px solid #a0a0a0;
  padding: 0.3em 0 0.5em 0.5em;
  margin-right: 2em;
  background-color: #eeeecc;
}

#outer {
  margin: 1em auto 1em auto;
  width: 60em;
}

#header {
  float: right;
}

#menu {
  float: left;
  width: 10em;
  padding-top: 2em;
  border-right: 1px solid #c0c0c0;
  text-align: right;
}

#content {
  float: right;
  width: 45em;
  padding-bottom: 3em;
  text-align: left;
}

#footer {
  color: #a0a0a0;
  border-top: 1px solid #c0c0c0;
  font-size: 1em;
  clear: both;
}

#menu ol {
  list-style-type: none;
  padding: 0.3em 2em 1.3em 0;
  margin: 0;
}

#menu ol li {
  font-size: 125%;
  font-weight: bold;
  color: #800000;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

#menu ol li ol {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

#menu ol li ol li {
  font-size: 80%;
  font-weight: normal;
  padding: 0 0 0.3em 0;
  margin: 0;
}

#menu ol li ol li.logo {
  margin-right: -1em;
}
