*.iws
.*.swp
.idea/workspace.xml
out/
target/
lib_managed/
src_managed/
project/boot/
dep_tests/sbt/out/
dep_tests/sbt/target/
dep_tests/sbt/lib_managed/
dep_tests/sbt/src_managed/
dep_tests/sbt/project/boot/
