<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>ScalaSTM &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='ScalaSTM documentation' name='subject'>
    <!-- <link href='images/favicon.png' rel='shortcut icon'> -->
  </head>
  <body>
    <div id='outer'>
      <div id='header'>
        <!-- <a href='http://nbronson.github.com/scala-stm/' title="Library-Based STM for Scala"><img alt='scalastm' src='images/scalastm.png'></a> -->
        <div class='home'><a href='http://nbronson.github.com/scala-stm/' title="ScalaSTM">ScalaSTM</a></div>
      </div>
      <div id='menu'>
        <ol>
          <li>Start Here
            <ol>
              <li><a href='index.html'>Welcome</a></li>
              <li><a href='intro.html'>Introduction</a></li>
              <li><a href='quick_start.html'>Quick Start</a></li>
              <li><a href='syntax_cheat_sheet.html'>Cheat Sheet</a></li>
              <li><a href='exceptions.html'>Exceptions</a></li>
              <li><a href='faq.html'>F.A.Q.</a></li>
            </ol>
          </li>
          <li>Getting it
            <ol>
              <li><a href='download.html'>Download</a></li>
              <li><a href="http://github.com/nbronson/scala-stm">Source Repo</a></li>
              <li><a href='license.html'>License</a></li>
            </ol>
          </li>
          <li>Examples
            <ol>
              <li><a href='quick_start.html'>Quick Start</a></li>
              <li><a href='indexed_map.html'>Indexed Map</a></li>
              <li><a href='philosophers.html'>Philosophers</a></li>
            </ol>
          </li>
          <li>Reference
            <ol>
              <li><a href='api/0.1/index.html'>ScalaDoc API</a></li>
              <li><a href='expert_group.html'>Expert Group</a></li>
              <li><a href='semantics.html'>Semantics</a></li>
              <li><a href="http://groups.google.com/group/scala-stm-expert-group">Mailing List</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2010</div>
    </div>
  </body>
</html>
